{% extends "base.html" %}

{% block content %}
<script>
    window.addEventListener('scroll', function () {
        var header = document.querySelector('.heading');
        var sticky = header.offsetTop;
        if (window.pageYOffset > sticky) {
            header.classList.add('fixed');
        } else {
            header.classList.remove('fixed');
        }
    });
</script>

<div class="heading">
    {{object.title}} <span id="timer" style="margin-left: 80px;"></span>
</div>

<div class="questions-container">
    <form action="" method="post">
        {% csrf_token %}
        <hr>
        <div id="questions-wrapper">
            {% for question in object.questions.all %}
            <div class="question-item" data-question-number="{{ forloop.counter }}">
                <h5>{{question.number}}. {{question.description}}</h5>
                {% for answer in question.answers.all %}
                <div class="answers">
                    <input type="radio" name="{{question.id}}" value="{{answer.id}}" class="choices">
                    <span>{{answer.description}}</span>
                </div>
                {% endfor %}
                <hr>
            </div>
            {% endfor %}
        </div>

        <!-- <div style="display: flex; justify-content: center; margin-top: 80px;">
            <input type="submit" class="submit-button">
        </div> -->
        <div style="display: flex; justify-content: center; margin-top: 80px; gap: 20px;">
            <button type="button" id="prev-button" class="submit-button">Previous</button>
            <input type="submit" class="submit-button">
            <button type="button" id="next-button" class="submit-button">Next</button>
        </div>
    </form>
</div>

<div id="confirmation-popup" class="modal" style="display: none;">
    <div class="modal-content">
        <i class="bi bi-exclamation-triangle-fill warning-icon fa-md" style="color:red"></i>
        <p>Make sure you have attempted all the questions before submitting the test.</p>
        <div class="buttons">
            <button id="confirm-yes">Submit</button>
            <button id="confirm-no">Recheck</button>
        </div>
    </div>
</div>

<script>
    function startTimer(display) {
        var seconds = 0, minutes = 0, hours = 0;
        setInterval(function () {
            seconds++;
            if (seconds >= 60) {
                seconds = 0;
                minutes++;
                if (minutes >= 60) {
                    minutes = 0;
                    hours++;
                }
            }

            var hoursStr = hours < 10 ? "0" + hours : hours;
            var minutesStr = minutes < 10 ? "0" + minutes : minutes;
            var secondsStr = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = hoursStr + ":" + minutesStr + ":" + secondsStr;
        }, 1000);
    }

    // Function to reset the form
    function resetForm() {
        var form = document.querySelector('form');
        form.reset(); // Reset the form to clear selections
    }

    function showPage(page, questionsPerPage, totalQuestions) {
        var questions = document.querySelectorAll('.question-item');
        var start = (page - 1) * questionsPerPage;
        var end = start + questionsPerPage;
        questions.forEach(function (question, index) {
            if (index >= start && index < end) {
                question.style.display = 'block';
            } else {
                question.style.display = 'none';
            }
            console.log(question.style.display)
        });

        document.querySelector('#prev-button').disabled = page === 1;
        document.querySelector('#next-button').disabled = page === Math.ceil(totalQuestions / questionsPerPage);
    }


    // Initialize the timer when the page loads
    window.onload = function () {
        var timerDisplay = document.querySelector('#timer');
        startTimer(timerDisplay);
        resetForm();

        var form = document.querySelector('form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();
            showConfirmationPopup(form);

        });

        function submitForm(form) {
            var elapsedTime = timerDisplay.textContent;
            // Add the elapsed time as a hidden input field to the form
            var elapsedTimeInput = document.createElement('input');
            elapsedTimeInput.setAttribute('type', 'hidden');
            elapsedTimeInput.setAttribute('name', 'elapsed_time');
            elapsedTimeInput.setAttribute('value', elapsedTime);
            form.appendChild(elapsedTimeInput);
            form.submit(form);
        }

        function showConfirmationPopup(form) {
            var popup = document.getElementById('confirmation-popup');
            popup.style.display = 'flex';

            var confirmYes = document.getElementById('confirm-yes');
            var confirmNo = document.getElementById('confirm-no');

            confirmYes.onclick = function () {
                popup.style.display = 'none';
                submitForm(form);
            };

            confirmNo.onclick = function () {
                popup.style.display = 'none';
            };
        }

        var currentPage = 1;
        var questionsPerPage = 20;
        var totalQuestions = 100;
        var max_page =
            showPage(currentPage, questionsPerPage, totalQuestions);

        var prevButton = document.querySelector('#prev-button')

        prevButton.addEventListener('click', function () {
            if (currentPage > 1) {
                currentPage--;
                showPage(currentPage, questionsPerPage, totalQuestions);
            }
        });

        document.querySelector('#next-button').addEventListener('click', function () {
            if (currentPage < Math.ceil(totalQuestions / questionsPerPage)) {
                currentPage++;
                showPage(currentPage, questionsPerPage, totalQuestions);
            }
        });
    };
</script>

<style>
    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .modal {
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal-content {
        background-color: white;
        padding: 20px;
        border: 1px solid #888;
        width: 40%;
        text-align: center;
        align-items: center;
    }

    .modal-content p {
        margin: 20px 0;
    }

    #confirm-yes,
    #confirm-no {
        width: 50%;
        color: white;
        font-weight: bold;
        padding: 5px 20px;
        border: none;
    }

    #confirm-yes {
        margin-right: 30%;
        background-color: #ff3a00;
    }

    #confirm-no {
        background-color: #0085f9;
    }

    #timer {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .heading {
        font-size: 32px;
        padding: 20px;
        font-weight: 600;
        background-color: antiquewhite;
        width: 100%;
        text-align: center;
        position: relative;
        top: 0;
        left: 0;
    }

    .heading.fixed {
        font-size: 24px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: aliceblue;
        opacity: 100%;
        z-index: 1;
    }

    .questions-container {
        width: 70%;

        h5 {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 5px;

        }
    }

    .answers {
        font-size: 16px;
        display: flex;
        /* flex-direction: column; */
        /* justify-content: center; */
        align-items: center;

        /* input{
            font-size: 25px;
            color: red;
        } */
    }

    .choices {
        color: red;
        margin: 5px;
        height: 25px;
        width: 25px;
        line-height: 25px;
        justify-content: center;
        text-align: center;
    }

    .submit-button {
        background-color: red;
        padding: 8px 20px;
        border-radius: 20px;
        border: none;
        width: 200px;
        height: 50px;
        outline: none;
        font-size: 20px;
        color: white;
        font-weight: 600;
        cursor: pointer;
    }

    .submit-button:hover {
        background-color: rgb(211, 1, 1);
    }
</style>

{% endblock content %}