{% extends "base.html" %}

{% block content %}
<style>
    .paginator {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 10px;
    }

    .page-links {
        :hover {
            color: blue;
        }
    }

    .table {
        width: 80%;
        margin-top: 20px;
    }

    .overview-container {
        display: flex;
        justify-content: space-around;
        width: 80%;
        /* border: 1px solid red; */
        /* border-radius: 10px; */
        margin-top: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid black;
        padding: 20px;
        padding-bottom: 50px
    }

    .overview-card,
    .profile-card {
        border: 1px solid rgba(0, 0, 0, 0.178);
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.50);
        width: 30%;
        padding: 20px;
        border-radius: 10px;
    }

    .exam-history-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    .exam-history-row {
        display: flex;
        gap: 20px;
        border-bottom: 1px solid black;
        align-items: center;
        /* justify-content: center; */

        h3 {
            width: 200px;
            text-align: center;
        }

        div {
            width: 100%;
            text-align: center;
        }

        a {
            cursor: pointer;
            text-align: center;
            justify-self: center;
        }

        a:hover {
            color: red;
        }
    }

    @media screen and (max-width: 800px) {
        .profile-card {
            display: none;
        }

        .overview-card,
        .profile-card {
            width: 80%;
        }
    }
</style>
<div
    style="font-size: 32px; padding: 20px; font-weight: 600; background-color: antiquewhite; width: 100%; text-align: center;">
    Profile
</div>

<div class="overview-container">
    <div class="overview-card">
        <h3>Performance Overview</h3>
        <div>
            <p>Total Tests Taken: {{request.user.student.total_tests_taken}}</p>
            <p>Average Test Score: {{request.user.student.average_score}}</p>
            <p>Highest Score : {{request.user.student.highest_score}} ({{request.user.student.highest_scoring_exam}})
            </p>
            <p>Lowest Score : {{request.user.student.lowest_score}} ({{request.user.student.lowest_scoring_exam}})</p>
        </div>
    </div>

    <div class="profile-card">
        <h3>Personal Information</h3>
        <div>
            <p>Name: {{request.user.full_name}}</p>
            <p>Email: {{request.user.email}}</p>
            <p>Address : {{request.user.address}}</p>
            <p>Contact Number : {{request.user.phone}}</p>
        </div>
    </div>
</div>


<h2>Exam History</h2>

{% if page_obj.object_list %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Date</th>
            <th scope="col">Exam</th>
            <th scope="col">Obtained Score</th>
            <th scope="col">Percentage</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for exam in page_obj.object_list %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{exam.timestamp | date}}</td>
            <td>{{exam.exam.title}}</td>
            <td>{{exam.obtained_score}}</td>
            <td>{{exam.percentage}}</td>
            <td><a href="/exam-summary/{{exam.id}}/">View Summary</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="paginator">
    {%if page_obj.has_previous %} {# whether the previous page exists #}
    <a href="?page={{page_obj.previous_page_number}}" class="page-links">
        Previous </a> {# link to the prev page #}
    {% endif %}
    <span><strong>Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</strong> </span> {# the current page
    number #}

    {%if page_obj.has_next %} {# whether the next page exists #}
    <a href="?page={{page_obj.next_page_number}}" class="page-links">Next</a> {# link to the next page #}
    {% endif %}
</div>
{% else %}
<div>
    Please attempt at least one exam to view history.
</div>
{% endif %}
{% endblock %}